.homepage{
    background-color: aqua;
    background-image: url(../../assets/rasm2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    .container{
        margin: 0 auto;
        width: 90%;
    }
}