.product-preview{
    width: 80%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(240, 255, 255, 0.514);
    border-radius: 2rem;
    .name-product{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 5rem;
        width: 65%;
        .count{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            font-size: 2rem;
            width: 3rem;
            background-color: rgba(17, 165, 165, 0.897);
            color: white;
            border-radius: 100%;
        }
        .price{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            font-size: 2rem;
            width: 6rem;
            background-color: rgba(165, 84, 17, 0.897);
            color: white;
            border-radius: 30px;
        }
        .name{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            font-size: 2rem;
            width: 10rem;
            background-color: rgba(17, 165, 96, 0.897);
            color: white;
            border-radius: 30px;
        }
    }
    .container-btn{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 30%;
        height: 100%;
        button{
            height: 5rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            cursor: pointer;
            font-weight: 700;
            border-radius: 100%;
            border: none;
            outline: none;
            transition: all .3s ;
            color: white;
            &:nth-child(1){
                background-color: green;
            }
            &:nth-child(2){
                background-color: red;
            }
            &:active{
                transform: scale(.7);
            }
            &:disabled{
                background-color: black;
                transform: scale(.85);
            }
        }
    }
}